@page "/Home"

<MudGrid MaxWidth="MaxWidth.Small" Class="pa-18">
    <MudItem Class="relative" xs="12" md="12" lg="12">
        <MudText Typo="Typo.h3">Welcome to</MudText>
        <MudText Typo="Typo.h3" Inline="true">Dotnet POCO Detector</MudText>
        <div class="pl-1 my-4">
            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">
                This wizard will guide you through the configuration process of standalone applications.
            </MudText>
        </div>
        <div class="d-flex py-4 mb-16 mb-md-0">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Bookmark" Label="Get started" Href="/capture" />
        </div>
    </MudItem>
</MudGrid>
